/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --ff-main: "Roboto";
    --bg-main: #000;
    --bg-secondary: #fff;
    --bg-danger: #dc143c;
    --bg-success: green;
    --bg-gray: #808080;
    --text-dark: #000;
    --text-danger: #dc143c;
    --text-success: #008000;  
    --text-bg-main: #fff;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--ff-main);
    background-color: var(--bg-main);
    color: var(--text-bg-main);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    font-family: inherit;
}

section {
    padding-top: 120px;
}

section.close {
    display: none;
}

section.show {
    display: block;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 20px;
}

.grid-wrapper {
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.btn {
    font-family: inherit;
    font-size: 30px;
    border: none;
    color: var(--text-bg-main);
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-light {
    padding: 5px 10px;
    font-size: 30px;
    color: var(--text-dark);
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.btn-danger {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--bg-danger);
}

.btn-danger:hover {
    color: var(--text-danger);
    border-color: var(--bg-danger);
    background-color: var(--bg-main);
}

.btn-light:hover {
    border-color: var(--bg-secondary);
    color: var(--bg-secondary);
    background-color: var(--bg-main);
}

.greeting {
    padding-top: 120px;
}

.heading-100 {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.heading-200 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: var(--text-danger);
}

.heading-300 {
    font-size: 30px;
    color: var(--text-success);
    font-weight: bold;
}

@media screen and (min-width:576px) {
    .heading-100 {
        font-size: 60px;
    }

    .btn-light {
        padding: 10px 20px;
    }

    .btn-danger {
        padding: 10px 20px;
    }
}

@media screen and (min-width:968px) {
    .heading-100 {
        font-size: 80px;
    }
}

@media screen and (min-width:1024px) {
    .heading-100 {
        font-size: 100px;
    }
}

/* credentials */
.credentials {
    display: none;
    height: 100vh;
    padding-top: 120px;
}

.credentials.show{
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.credentials__form {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    margin-bottom: 6rem;
}

.credentials__select {
    padding: 5px 10px;
    font-family: inherit;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-image: url("../images/arrow.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center right 10%;
    background-color: var(--bg-secondary);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

@media screen and (min-width:576px) {
    .credentials__select {
        padding: 10px 20px;
        font-size: 30px;
    }
}

/* game */
.game {
    display: none;
    padding-bottom: 200px;
}

.game__question {
    margin-bottom: 5rem;
    padding: 1rem;
    font-size: 20px;
    color: var(--text-bg-main);
    background-color: var(--bg-danger);
    -webkit-animation: textScale 3s ease-in-out infinite;
            animation: textScale 3s ease-in-out infinite;
}

.game__attempts {
    padding: 1rem 2rem;
    border-radius: 10px;
    color: var(--text-bg-main);
    background: var(--bg-success);
}

.game__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    place-content: center;
    gap: 1rem;
}

.game__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.2rem;
    border-radius: 20px;
    background-color: var(--bg-gray);
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.game__item:hover {
    opacity: 0.7;
}

.game__item.success {
    opacity: 0.5;
    pointer-events: none;
    background-color: var(--bg-success);
}

.game__item.fail {
    opacity: 0.5;
    pointer-events: none;
    background-color: var(--bg-danger);
}

.game__item.hidden {
    opacity: 0.2;
    pointer-events: 0;
}

.game__item img {
    width: 200px;
    height: auto;
    max-width: 100%;
    pointer-events: none;
}

.game__duration {
    padding: 1rem 2rem;
    border-radius: 10px;
    color: var(--text-bg-main);
    background: var(--bg-success);
}

@media screen and (min-width:576px) {
    .game__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .game__question {
        font-size: 40px;
    }
}

.victory {
    display: none;
}

.game-over {
    display: none;
}

.game-over__title {
    margin-bottom: 1rem;
}

.game-over__text {
    margin-bottom: 3rem;
}